<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Ursa</div>
        <ul class="mdl-mini-footer__link-list">
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/press">Press Kit</a></li>
            <li><a href="/devs">Developers</a></li>
            <li><a href="/privacy">Privacy & Terms</a></li>
        </ul>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li>Version Ursa.Minor.1</li>
        </ul>
    </div>
</footer>
<div class="mdl-layout__obfuscator"></div>
