@(pageName: String)
<script type="text/javascript">
        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });

        }
        function userSignedIn() {
            var currentUser = document.getElementById('#currentUser');
            currentUser.innerHTML = "Currently signed in as:  \<br/> " + "@GoogleUser.getGoogleUserEmail";
        }
        /* TODO:
         * Verify user is signed in
         * Sign user out (auth2)
         * Redirect to home page to indicate success */
        function signOutUser() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                const googleUser = gapi.auth2.getAuthInstance().currentUser.get();

                var sendData = JSON.stringify({
                    idtoken: googleUser.getAuthResponse().id_token
                });

                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: 'PUT',
                    url: '/signOut',
                    data: sendData,
                    dataType: 'json',
                    success: function () {
                        window.location = "/application";
                    }
                });
                window.location = "/";
            });
        }
</script>
<div class="ursa-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="ursa-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">@pageName</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search">
                    <label class="mdl-textfield__label" for="search">Enter your query...</label>
                </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                <li class="mdl-menu__item">About</li>
                <li class="mdl-menu__item">Contact</li>
                <li class="mdl-menu__item">Legal information</li>
            </ul>
        </div>
    </header>
    <div class="ursa-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="ursa-drawer-header">
            <img src="@routes.Assets.at("images/logo.png")" class="logo" onload="userSignedIn()">
            <span id="#currentUser" class="muted-text center">&nbsp;</span>
            <a class=" muted-text center " href="#" onclick="signOutUser();">Sign out</a>
        </header>
        <nav class="ursa-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link @if(Application.currentPage.equals("index")) {activePage}" href="/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
                dashboard</i>
                Dashboard</a>
            <a class="mdl-navigation__link @if(Application.currentPage.equals("researchLog")) {activePage}" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
                assignment</i>
                Research Log</a>
            <a class="mdl-navigation__link @if(Application.currentPage.equals("research")) {activePage}" href="/research"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
                find_in_page</i>Research</a>
            <div class="mdl-layout-spacer"></div>
        </nav>
    </div>
    <script type="application/javascript">
var FAQBOT_PUBLIC_KEY = "59f6e241cfb0f7b76c5f6c0c27a51866dd101c61";
</script>
    <div id="faqbot-58rZl8DgthS"></div>
    <script src="https://faqbot.co/public/js/bundle.js"></script>